# Dependencias
node_modules/
package-lock.json

# Archivos de entorno
.env
.env.local
.env.production

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Base de datos local
*.sqlite
*.db

# Archivos de compilación
dist/
build/